@media (max-width: 480px) {
  .innerContainer {
    background-color: black;
    width: 360px;
    height: 37rem;
    border-top: 80px solid #48ffd5;
    border-left: 3px solid #48ffd5;
    border-right: 3px solid #48ffd5;
    border-bottom: 5px solid #48ffd5;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
    padding: 2px;
  }
}

@media (min-width: 1288px) {
  .container {
    padding: 19rem 2rem;
    background-image: url("../../images/background_image.jpeg");
    background-position: center;
    width: auto;
  }
}
