.jumbotron {
  background-color: rgb(5, 28, 47);
  background-repeat: no-repeat;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

@media (max-width: 480px) {
  .jumbotron {
    padding-top: 23.5rem;
    background-image: url("../../images/background_mobile.jpeg");
  }
}

@media (min-width: 1288px) {
  .jumbotron {
    padding: 19rem 2rem;
    background-image: url("../../images/background_image.jpeg");
    background-position: center;
    width: auto;
  }
}

h1 {
    text-align: center;
}
