.jumbotron {
  background-color: transparent;
}

@media (max-width: 480px) {
  .jumbotron {
    padding-right: 44px;
    padding-left: 78px;
    padding-top: 1rem;
    margin: auto;
  }

  h1 {
    text-align: center;
  }
  p {
      color:#48ffd5;
  }
}
